body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

header h1, header h2 {
    margin: 0;
}

#content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border-bottom: 1px solid #ccc;
}

aside {
    text-align: center;
    padding: 10px;
    border-right: 1px solid #ccc;
    width: 100%;
}

main {
    text-align: center;
    padding: 10px;
    width: 100%;
}

article {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#image-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button1, #button2 {
    margin: 0 10px;
}

#image1 {
    max-width: 100%;
    height: auto;
    transition: transform 0.25s ease;
}

#image1.enlarged {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
}

footer {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

@media screen and (min-width: 600px) {
    #content {
        flex-direction: row;
    }

    aside {
        width: 20%;
    }

    main {
        width: 80%;
    }
}


